<h3>Bem vindo de volta, {{name}}</h3>

<h2>Suas apostas foram cadastradas!!</h2>

<p> Com o valor de: <strong>R${{ totalPrice }}</strong></p>

<h2>Acesse o link abaixo para conferi-las </h2>

<div class="link_container">
  <a href="{{link}}">Clique aqui</a>
</div>
