<h2>Recuperando Senha</h2>

<p> Uma solicitação de recuperação de senha foi realizada para o e-mail <strong>({{ email }})</strong>.

<p>Para continuar a recuperação de senha, utilize o token gerado: <strong>{{ token }}</strong>, clicando no link abaixo.</p>

<a class="create_new_password" href='{{ link }}'>Criar nova senha</a>