<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      background-color: #F7F7F7;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 20px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    p, a, small {
      color: #9D9D9D;
    }

    p {
      text-align: center;
    }

    h2 {
      text-align: center;
      color: #707070;
    }

    .name,
    a {
      color: #B5C401;
      font-weight: bold;
      text-decoration: none;
    }

    

    .footer {
    background-color: transparent;

    padding: 1rem;
    margin-top: 1rem;

    width: 100%;

    border-top: 1px solid #ebebeb;
    bottom: 0;
  }

  .footer > p {
    text-align: center;
    
    font-size: 15px;
    color: #707070;
  }

  .logo {
      color: #707070;
      
      font-style: italic;
      font-size: 42px;
      text-transform: uppercase;

      position: relative;
    }

    .logo::after {
      content: '';
      position: absolute;
      background-color: #b5c401;
      top: 42px;
      left: -4px;
      width: 110%;
      height: 18%;
      border-radius: 2rem;
    }
    .create_new_password {
      text-align: center;
    }
  </style>
</head>
<body>
  <header class="header">
    <h1 class="logo">TGL</h1>
  </header>
  <main>
    @if(forgotPassword)
      @include('/forgot_password')
    @endif
  
    @if(betsSaved)
      @include('/bets')
    @endif
  
    @if(welcomeUser)
      @include('/welcome')
    @endif
  </main>
  <footer class="footer">
    <p>Copyright 2021 &copy; Luby Software </p>
  </footer>
</body>
</html>