<strong>Bem vindo <h2 class="name">{{ name }}!!</h2></strong>
<p> A partir de agora, você pode apostar quantas vezes forem necessárias</p>
<a href="http://localhost:3000/new_bets">Clique aqui para começar agora</a>