<h3>Bem vindo <strong class="name">{{ name }}!!</strong></h3>
<p> A partir de agora, você pode apostar quantas vezes forem necessárias</p>
<div class="link_container">
  <a href="http://localhost:3000/login">Clique aqui para logar em sua conta e começar a apostar</a>
</div>