<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    body {
      background-color: #F7F7F7;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 20px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    p, a, small {
      color: #9D9D9D;
    }

    p {
      text-align: center;
    }

    .name,
    a {
      color: #B5C401;
      font-weight: bold;
      text-decoration: none;
    }

    .logo {
      color: #707070;
      font-style: italic;
      font-size: 42px;
      text-transform: uppercase;

      position: relative;
    }

    .logo::after {
      content: '';
      position: absolute;
      background-color: #b5c401;
      top: 42px;
      left: -4px;
      width: 110%;
      height: 18%;
      border-radius: 2rem;
    }
  </style>
</head>
<body>
  <h1 class="logo">TGL</h1>

  <h1>Bem vindo de volta, <p class="name">{{name}}</p></h1>

  <h2>Suas apostas foram cadastradas!!</h2>
  
  <p> Com o valor de: <strong>R${{ totalPrice }}</strong></p>

  <h2>Acesse o link abaixo para conferi-las </h2>

  <a href="{{link}}">Clique aqui</a>
</body>
</html>