@include('partials/header');

<main>
  @if(forgotPassword)
    @include('./forgot_password')
  @endif
  @if(betsSaved)
    @include('./bets')
  @endif
  @if(betsSaved)
    @include('./bets')
  @endif
  @if(welcomeUser)
    @include('./welcome')
  @endif
</main>
@include('partials/footer');