<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    body {
      background-color: #F7F7F7;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 20px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    p, a, small {
      color: #9D9D9D;
    }

    p {
      text-align: center;
    }

    .name,
    a {
      color: #B5C401;
      font-weight: bold;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <strong>Bem vindo <h2 class="name">{{ name }}!!</h2></strong>
  <p> A partir de agora, você pode apostar quantas vezes forem necessárias</p>
  <a href="http://localhost:3000/new_bets">Clique aqui para começar agora</a>
</body>
</html>


